body {
    background-image: url(https://img.wallpapersafari.com/desktop/1280/1024/26/50/RD4KwY.jpg); 
    text-align: center;
    
  }
  
  h1 {
    color: turquoise;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  p {
    color: white;
    background: transparent;
  }
  
  input {
    background-color: white;
  }
  
  #survey-form {
    color: white}
  
